#course_slider {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 1rem;
  grid-auto-flow: column;
  padding: 1rem;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

#course_slider::-webkit-scrollbar {
  height: 12px;
}

#course_slider::-webkit-scrollbar-thumb,
#course_slider::-webkit-scrollbar-track {
  border-radius: 92px;
}

#course_slider::-webkit-scrollbar-thumb {
  background: #EB0508;
}

#course_slider::-webkit-scrollbar-track {
  background: lightgrey;
}

@media (min-width: 500px) {
  #course_slider {
    grid-auto-columns: calc(50% - 10px);
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  #course_slider {
    grid-auto-columns: calc(calc(100% / 3) - 20px);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  #course_slider {
    grid-auto-columns: calc(25% - 30px);
    grid-column-gap: 40px;
  }
}
