.zoomed {
  transform: scale(2);
  cursor: zoom-out;
  z-index: 100;
  transition: transform 0.3s ease;
}

.content-image {
  cursor: zoom-in;
  transition: transform 0.3s ease;
  margin: 1rem auto;
}