.course-sidebar{
    background-color: #A8B1B8;
    padding: 2rem;
    min-width: 20%;
}

.course-sidebar-return {
    display: block;
    text-align: center;
    font-size: 1.45rem;
}

.course-sidebar a {
    color: white;
    text-decoration: none;
}

.course-sidebar a:hover {
    color: #C20814;
}

.course-sidebar img{
    justify-self: center;
}

.chapter-title {
    font-weight: 700;
    margin: .5rem 0;
    color: black;
}

.lesson {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    padding: .125rem 0;
}

.lesson-status {
    margin-right: .5rem;
    font-size: 20px;
    align-self: start;
}

.completed {
    color: #C20814;
}